body{
  margin: 0;
}

.navbar{
  background-color: gray;
  margin: 0;
  padding: 25px;
  text-align: right;
}

.container .navbar li{
  display: inline-block;
  
}

.navbar li a{
  text-decoration: none;
  padding: 15px;
  color: black;
  font-size: 20px;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: gray;
}

.register h1{
  margin-left: 47%;
}
.register form{
  margin-left: 40%;
}

.register form input{
  padding: 7px;
  width: 300px;
  border: 1px solid;
  border-radius: 10px;
}

.register form button{
  padding: 7px;
  width: 100px;
  border: 1px solid;
  border-radius: 10px;
  margin-left: 120px;
}

.login h1{
  margin-left: 47%;
}
.login form{
  margin-left: 40%;
}

.login form input{
  padding: 7px;
  width: 300px;
  border: 1px solid;
  border-radius: 10px;
}

.login form button{
  padding: 7px;
  width: 100px;
  border: 1px solid;
  border-radius: 10px;
  margin-left: 120px;
}

.logo{
  float: left;
  border-radius: 50px;
}